{% extends 'layout.html.twig' %}
{% block body %}
    <div class="col-md-8 col-md-push-2">
        {{form(formo)}}
    </div>
{% endblock %}

{% block javascripts %}
$('#experience_pro_present').click(function(evt){
    if($(this).is(':checked'))
        $('#experience_pro_dateFin_day,#experience_pro_dateFin_month,#experience_pro_dateFin_year').fadeOut();
    else
        $('#experience_pro_dateFin_day,#experience_pro_dateFin_month,#experience_pro_dateFin_year').fadeIn();
})
{% endblock %}