{% extends 'layout.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <section class="panel">
                <header class="panel-heading panel-heading-transparent">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>
                    <h2 class="panel-title">Formations</h2>
                </header>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped mb-none">
                            <thead>
                            <tr>
                                <th>Modifier</th>
                                <th>Derniere modification</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for v in competence %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('competences', {'id' : v.id}) }}"> Intitule : {{v.intitule}} <br> Categorie : {{ v.categorie.intitule }} <br> Niveaux :
                                            {% if (v.niveau == 0) %}
                                               Formation
                                            {% elseif (v.niveau == 1)  %}
                                                PRATIQUE
                                                3 A 6 MOIS
                                            {% elseif (v.niveau == 2 ) %}
                                                CONFIRME
                                                6 MOIS A 2 ANS
                                            {% elseif (v.niveau == 3 ) %}
                                                EXPERT
                                                PLUS DE 2 ANS
                                            {% endif %}
                                            </a>
                                        </td>
                                        <td><span class="label label-success"> <a href="{{ path('competence_delete', {'id' : v.id}) }}"> Remove</a></span></td>
                                    </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    $('.editable').editable()
{% endblock %}